#content{
	background: #BFC7D8;
	//position: absolute;
	margin-top: 51px;
	margin-bottom: 30px;
}
#drawers{
	//position: absolute;
	background: #BFC7D8;
	margin-top: 51px;
	margin-bottom: 30px;
}
#leftdrawer{
	background: #BFC7D8;
	//position: absolute;
}
#open-left{
  background: url("../assets/images/open.png") center center no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}
#navbar{
	//position:absolute;
}
#selected{
	height: 20px;
	border: 1px;
	border-color: #CFC7D8;
}